In [52]:
import numpy as np  # linear algebra
import pandas as pd  # dad preprocessing
import matplotlib.pyplot as plt  # data visualization
import seaborn as sns  # data visualization
from sklearn.cluster import KMeans  # clulstering

In [37]:
df = pd.read_excel('response-excel.xlsx')

In [38]:
df.columns

Index(['Timestamp', 'מהו גילך בשנים?', 'מה המגדר שלך?',
       'איזה סוג משרה אתה מחפש?', 'באיזה תחום אתה מחפש עבודה?',
       'מאיפה אתה מעדיף לעבוד?',
       'האם יש לך ניסיון תעסוקתי קודם בתחום בו אתה מחפש עבודה?',
       'האם יש לך הסמכות בינלאומיות בתחום בו אתה מחפש עבודה?',
       'באילו אתרי חיפוש עבודה אתה משתמש בתדירות הגבוהה ביותר? בחר עד 3 פלטפורמות גיוס עיקריות',
       'מהי ההשכלה שלך? גם אם הינך במהלך התואר אנא סמן את התשובה',
       'האם אי פעם השתמשת בפלטפורמה ספציפית למחפשי עבודה עבור סטודנטים?',
       'אילו דרכי התקשרות עם המגייס חשוב שיהיו בפלטפורמה לחיפוש עבודה? בחר עד 2 דרכי התקשרות עיקריים',
       'האם אתה מבצע מעקב אחרי הגשות מועמדות למשרה?',
       'אילו פיצרים חשובים לך במערכת באופן כללי? בחר עד 3 פיצ'רים עיקריים',
       'אילו חלקים חשובים לך שיופיעו בפרופיל המשתמש שלך? בחר עד 3 חלקים עיקרייים',
       'לפי אילו פרמטרים היית רוצה לבצע חיפוש למשרה? בחר עד 3 פרמטרים עיקריים',
       'מ-1 עד 5, כמה אתה מסכים עם המשפט הבא: "ביצוע ראיון ראשוני באופן  דיגיטלי מקצר את תהליך הגיוס ובתור סטודנט הייתי רוצה שיהיה כזאת יכולת לפלטפורמת גיוס"',
       'כמה זמן היית מוכן להשקיע בביצוע ראיון דיגיטלי ראשוני בדקות?',
       'מה חשוב לך שיהיה במשוב חוזר להגשת המועמדות שלך במצב בו מועמדתך נפסלה? בחר עד 3 חלקים עיקריים',
       'Unnamed: 19'],
      dtype='object')

In [39]:
df_student_segments = df[["מה המגדר שלך?", "מהו גילך בשנים?", "באיזה תחום אתה מחפש עבודה?",
                          "איזה סוג משרה אתה מחפש?", "מאיפה אתה מעדיף לעבוד?",
                          "האם יש לך ניסיון תעסוקתי קודם בתחום בו אתה מחפש עבודה?", "האם יש לך הסמכות בינלאומיות בתחום בו אתה מחפש עבודה?",
                          "מהי ההשכלה שלך? גם אם הינך במהלך התואר אנא סמן את התשובה"]]

In [40]:
df_student_segments = df_student_segments.rename(columns={"מה המגדר שלך?": "Gender",
                                                          "מהו גילך בשנים?": "Age",
                                                          "באיזה תחום אתה מחפש עבודה?": "Job_Categories",
                                                          "איזה סוג משרה אתה מחפש?": "Job_Type",
                                                          "מאיפה אתה מעדיף לעבוד?": "Job_Location",
                                                          "האם יש לך ניסיון תעסוקתי קודם בתחום בו אתה מחפש עבודה?": "Expereince",
                                                          "האם יש לך הסמכות בינלאומיות בתחום בו אתה מחפש עבודה?": "Certifications",
                                                          "מהי ההשכלה שלך? גם אם הינך במהלך התואר אנא סמן את התשובה": "Education"})

In [41]:
df_student_segments

,Gender,Age,Job_Categories,Job_Type,Job_Location,Expereince,Certifications,Education
0,נקבה,26-30,Engineering,משרה חלקית,פתוח לשתיהם,לא,לא,תואר ראשון
1,זכר,26-30,"IT, Engineering",משרה חלקית,פתוח לשתיהם,כן,לא,תואר ראשון
2,נקבה,22-25,IT,"משרה חלקית, משרה מלאה, התמחות",פתוח לשתיהם,רק מפרוייקטים בתואר,לא,תואר ראשון
3,נקבה,22-25,Engineering,משרה מלאה,פתוח לשתיהם,לא,לא,"תואר ראשון, על-תיכונית"
4,נקבה,22-25,Healthcare,משרה חלקית,פתוח לשתיהם,רק מפרוייקטים בתואר,לא,תואר ראשון
...,...,...,...,...,...,...,...,...
87,נקבה,22-25,IT,חוזה,פתוח לשתיהם,מפרוייקטים אישיים ופרוייקטים בתואר,לא,תואר ראשון
88,זכר,26-30,"Manufacturing, Retail","משרה מלאה, התמחות",פתוח לשתיהם,רק מפרויקטים אישיים,כן,"קורסיים/BootCamp, הסמכות בינלאומיות (CCNA, AWS..."
89,נקבה,22-25,Education,"משרה חלקית, משמרות",פתוח לשתיהם,רק מפרויקטים אישיים,לא,תואר ראשון
90,זכר,26-30,"IT, Engineering","משרה מלאה, חוזה",מהבית,רק מפרויקטים אישיים,לא,קורסיים/BootCamp
91,נקבה,18-21,Engineering,משמרות,פתוח לשתיהם,רק מפרוייקטים בתואר,לא,תואר ראשון

In [49]:
mask = df_student_segments['Age'] == 'מתחת ל- 18'
df_student_segments = df_student_segments.drop(df_student_segments[mask].index)

df_student_segments= df_student_segments.dropna()

In [50]:
# columns exploration
data_types = pd.DataFrame(df_student_segments.dtypes)
data_types.columns = ['DataType']
data_types['CountUnique'] = [df_student_segments[col].nunique() for col in df_student_segments.columns]
data_types['UniqueExamples'] = [df_student_segments[col].unique()[0:10] for col in df_student_segments.columns]
data_types

,DataType,CountUnique,UniqueExamples
Gender,object,2,"[נקבה, זכר]"
Age,object,5,"[26-30, 22-25, 31-40, 18-21, מעל ל- 40]"
Job_Categories,object,41,"[Engineering, IT, Engineering, IT, Healthcare,..."
Job_Type,object,19,"[משרה חלקית, משרה חלקית, משרה מלאה, התמחות, מש..."
Job_Location,object,3,"[פתוח לשתיהם, מהבית, מהמשרד]"
Expereince,object,5,"[לא, כן, רק מפרוייקטים בתואר, רק מפרויקטים איש..."
Certifications,object,2,"[לא, כן]"
Education,object,10,"[תואר ראשון, תואר ראשון, על-תיכונית, תואר שני,..."

In [56]:
# kmeans clustering
columns_to_cluster = ['Age', 'Job_Categories', 'Job_Type', 'Job_Location', 'Expereince', 'Certifications', 'Education']
df_encoded = pd.get_dummies(df_student_segments[columns_to_cluster])
kmeans = KMeans(n_clusters=2, random_state=0).fit(df_encoded)
df_student_segments['Cluster'] = kmeans.labels_

In [58]:
# columns exploration
data_types = pd.DataFrame(df_student_segments.dtypes)
data_types.columns = ['DataType']
data_types['CountUnique'] = [df_student_segments[col].nunique() for col in df_student_segments.columns]
data_types['UniqueExamples'] = [df_student_segments[col].unique()[0:10] for col in df_student_segments.columns]
data_types

,DataType,CountUnique,UniqueExamples
Gender,object,2,"[נקבה, זכר]"
Age,object,5,"[26-30, 22-25, 31-40, 18-21, מעל ל- 40]"
Job_Categories,object,41,"[Engineering, IT, Engineering, IT, Healthcare,..."
Job_Type,object,19,"[משרה חלקית, משרה חלקית, משרה מלאה, התמחות, מש..."
Job_Location,object,3,"[פתוח לשתיהם, מהבית, מהמשרד]"
Expereince,object,5,"[לא, כן, רק מפרוייקטים בתואר, רק מפרויקטים איש..."
Certifications,object,2,"[לא, כן]"
Education,object,10,"[תואר ראשון, תואר ראשון, על-תיכונית, תואר שני,..."
Cluster,int32,2,"[0, 1]"

In [59]:
# Create a new DataFrame with the most frequent values for each column in each cluster
most_frequent = pd.DataFrame(columns=df_student_segments.columns)
for cluster in df_student_segments['Cluster'].unique():
    cluster_df = df_student_segments[df_student_segments['Cluster'] == cluster]
    most_frequent.loc[cluster] = cluster_df.mode().iloc[0]

# Transpose the DataFrame to get the clusters as rows
student_segments = most_frequent.T
student_segments.columns = ['Cluster 0', 'Cluster 1']

In [60]:
student_segments

                          Cluster 0    Cluster 1
Gender                         נקבה          זכר
Age                           22-25        22-25
Job_Categories          Engineering           IT
Job_Type         משרה חלקית, משמרות    משרה מלאה
Job_Location            פתוח לשתיהם  פתוח לשתיהם
Expereince      רק מפרויקטים אישיים           כן
Certifications                   לא           כן
Education                תואר ראשון   תואר ראשון
Cluster                           0            1